@model  IEnumerable<Polizia.Models.ListaTot>
@{
    ViewBag.Title = "TotVerbali";
}

<div class="container mt-5">
    <h2 class="text-center">Verbali ordinati in base al Numero di violazioni</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped w-50 mx-auto">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th  class="text-center">Numero violazioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Polizia.Models.ListaTot t in Model)
                    {
                        <tr>
                            <td>@t.Nome</td>
                            <td class="text-center">@t.Tot</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>